{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block content %}

    <title>{% block title %}Реєстрація{% endblock %}</title>

    <header class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm border-bottom py-3">
    <div class="container">
         <a class="navbar-brand fw-bold ms-4" href="{% url 'signup' %}">Реєстрація</a>
     </div>
    </header>
    <main class="container d-flex align-items-center justify-content-center flex-grow-1 my-3">
        <div class="col-12 col-md-12 col-lg-7">
        <h2 class="text-center mb-4">Реєстрація</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-center gap-3 mt-4">
            <button type="submit" class="btn btn-success px-4">Зареєструватися</button>
                <a href="{% url 'login' %}" class="btn btn-secondary">Скасувати</a>
                </div>
        </form>
        </div>
        </main>

    <footer class="bg-dark text-light py-3 border-top p-3 navbar-dark bg-dark">
        <div class="container text-center">
            <span class="text-light">© 2025 Всі права</span>
        </div>
    </footer>


{% endblock content %}

