{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Фізична адреса{% endblock %}

    {% block content %}
         

          <header class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm border-bottom py-3">
            <div class="container">
                <a class="navbar-brand fw-bold ms-4" href="{% url 'client_address_new' %}">Фізична адреса</a>
                <div class="dropdown d-inline-block">
                    <a class=" link-light dropdown-toggle text-decoration-none me-4" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'password_change' %}">Змінити пароль</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item link-danger">
                                    Вихід
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
          </header>

     <main class="container d-flex align-items-center justify-content-center flex-grow-1 my-3">
        <div class="col-12 col-md-12 col-lg-4">
             <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Головна</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Реєстрація фізичної адреси</li>
                </ol>
            </nav>
        <h2 class="text-center mb-4">Реєстрація фізичної адреси клієнта</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                {{ form.client_adress_region|as_crispy_field }}
            </div>
            <div class="row">
                {{ form.client_adress_city|as_crispy_field }}
            </div>
            <div class="row align-items-end">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    {{ form.client_adress_street|as_crispy_field }}
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    {{ form.client_adress_building_number|as_crispy_field }}
                </div>
                </div>
                <div class="row">
                {{ form.client_adress_phone_number|as_crispy_field }}
            
            </div>
            <div class="d-flex justify-content-center gap-3 mt-4">
            <button type="submit" class="btn btn-success px-4 ">Зареєструватися</button>
                <a href="{% url 'home' %}" class="btn btn-secondary">Скасувати</a>
                </div>
        </form>
        </div>
        </main>

    <footer class="bg-dark text-light py-3 border-top p-3 navbar-dark bg-dark">
        <div class="container text-center">
            <span class="text-light">© 2025 Всі права</span>
        </div>
    </footer>
    {% endblock content %}